.error {
  position: relative;
  z-index: $max-z-index;
  top: 0;
  width: 100%;
  padding: 0.75rem 1.25rem;
  color: $error-color;
  background: $error-background-color;
  border: 1px solid $error-border-color;
  font-size: 2rem;
  word-break: break-word;
}

.error-container {
  position: absolute;
  width: 100%;
}
