$card-min-height: 268px;
$card-min-width: 317px;
$card-perspective: 1000px;
$card-button-turn-diameter: 19px;
$card-button-turn-margin: 17px;
$card-button-turn-color: #16b6a1;
$card-right-opacity: 0.4;

/* #region card */
.card {
  width: $card-width;
  max-width: $card-min-width;
  padding-top: $card-width;
  background-color: transparent;
  perspective: $card-perspective;
  border-radius: 4px;
}

.card-right {
  pointer-events: none;
  opacity: $card-right-opacity;
  cursor: pointer;
}

.card:hover .card__inner {
  box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.4);
}

.card__inner,
.card__overlay,
.card__front,
.card__back {
  border-radius: inherit;
}

.card__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.animated {
  &:hover {
    .card__inner {
      transform: rotateY(-180deg);
    }
  }
  .card__text-back {
    display: none;
  }
  .card__text-front {
    display: flex;
  }
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
}

.card-wrong .card__overlay,
.card-right .card__overlay {
  visibility: visible;
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__front {
  transform: rotateY(180deg);
}

.card__text-front {
  display: none;
}

.card__text-front,
.card__text-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14%;
  font-size: 1.375rem;
  line-height: 1.625rem;
  color: #000;
  text-transform: lowercase;
}

.card__button-turn {
  position: absolute;
  right: $card-button-turn-margin;
  width: $card-button-turn-diameter;
  height: $card-button-turn-diameter;
  mask: url('../icons/icon-turn.svg') no-repeat;
  background-color: #000;
  mask-size: 100% 100%;
  -webkit-mask: url('../icons/icon-turn.svg') no-repeat;
  -webkit-mask-size: 100% 100%;
  border: none;
  cursor: pointer;
  &:hover {
    background: $card-button-turn-color;
  }
}

.card__image-front,
.card__image-back {
  width: 100%;
  height: 86%;
  border-radius: 5px;
}
/* #endregion card */
