$gray-color: #c8c8c8;
$gray-color-disabled: #d3d3d3;
$dark-gray-color: #5c5c5c;
$green-color: #4fbe79;
$admin-nav-color: #00bf82;
$button-green-color: #00bf9a;
$button-red-color: #e53935;
$menu-button-toggle-height: 60px;
$menu-button-toggle-width: 60px;
$page-wrap-margin-left: 30%;
$page-wrap-margin-left-with-menu: 31%;
$menu-toggle-left: 15%;
$page-wrap-menu-margin-left: 2%;
$mode-button-border-radius: 21px;
$mode-checkbox-width: 80px;
$mode-checkbox-height: 43px;
$mode-circle-diameter: 30px;
$score-wrap-width: 120px;
$button-game-diameter: 92px;
$game-guidelines-width: 1007px;
$game-page-min-width: 1065px;
$game-menu-item-height: 54px;
$card-width: 32%;
$card-width-wide: 100%;
$col-gap: 27px;
$row-gap: 32px;
$button-login-margin-bottom: 12px;
$max-z-index: 999;
$button-reset-margin-bottom: 40px;
