@media (max-width: 1450px) {
  .card,
  .category-wrap {
    max-width: initial;
    width: 48%;
    padding-top: 40%;
  }

  .button-game-wrap {
    margin-left: calc(50%);
    top: 0;
    bottom: initial;
    transform: translate(-50%, -105%);
  }

  .game-menu-toggle-checkbox:checked ~ .game-menu {
    margin-left: 0;
    margin-right: calc((70% - min(70%, #{$game-guidelines-width})) / 2);
  }
  .game-menu-toggle-checkbox:checked ~ .inner-container .button-game-wrap {
    transform: translate(-50%, -105%);
  }
  .cards {
    margin-top: calc(#{$button-game-diameter} + 5%);
  }
}

@media (max-width: 1200px) {
  .game-menu.game-menu__items {
    align-items: flex-end;
    padding: $menu-items-padding-top 5% 0 0;
  }
  .game-menu.game-menu__items.game-menu__login {
    width: 100%;
    padding-left: 5%;
  }
}

@media (max-width: 1000px) {
  .cards {
    margin-top: calc(#{$button-game-diameter} + 10%);
  }
}

@media (max-width: 640px) {
  .inner-container {
    width: 100%;
  }
  .card,
  .category-wrap {
    max-width: initial;
    width: $card-width-wide;
    padding-top: 80%;
  }
  .game-menu {
    position: absolute;
  }
  .game-menu.game-menu__items {
    align-items: flex-end;
    padding: $menu-items-padding-top 5% 0 0;
    .game-menu__login {
      width: 100%;
      padding-left: 5%;
    }
  }
  .game-header {
    padding-right: 0;
  }

  .page-wrap,
  .stats-page-wrap,
  .categories-wrap {
    margin-left: 5%;
    width: 90%;
  }

  .game-menu-toggle-checkbox,
  .game-menu-toggle-bar-wrap {
    margin: 0;
    transform: translate(25%, 0);
  }

  .game-menu-toggle-checkbox:checked {
    transform: initial;
    right: 0;
  }
  .game-menu-toggle-checkbox:checked ~ .game-menu-toggle-bar-wrap {
    transform: initial;
    right: 0;
  }
  .game-menu-toggle-checkbox:checked ~ .game-menu {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: calc((70% - min(70%, #{$game-guidelines-width})) / 2);
  }
  .game-menu-toggle-checkbox:checked ~ .inner-container {
    display: none;
    .button-game-wrap {
      transform: translate(-50%, 50%);
    }
  }
}
