$score-wrap-col-gap: 20px;
$star-width: 20px;

.game-header__score-wrap {
  width: 80%;
  height: $star-width;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  margin-right: $score-wrap-col-gap;
  column-gap: $score-wrap-col-gap;
  .game-header__score-star {
    width: $star-width;
    height: $star-width;
    flex-shrink: 0;
    background: center url('../icons/star-unchecked.png') no-repeat;
    background-size: cover;
    &.checked {
      background: center url('../icons/star-checked.png') no-repeat;
      background-size: cover;
    }
  }
}
