@import 'admin-category-card-normal';
@import 'admin-category-card-edit';
@import 'admin-category-card-add';
@import 'admin-category-card-create';

$category-card-width: 361px;
$category-card-height: 244px;

.admin__category-card {
  width: $category-card-width;
  height: $category-card-height;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}
