@import 'admin-word-card-normal';
@import 'admin-word-card-edit';
@import 'admin-word-card-add';
@import 'admin-word-card-create';

.admin__word-card {
  font-size: 1.375rem;
  width: 361px;
  min-height: 458px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
}

.admin-word-card__buttons-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-top: auto;
}
