$button-diameter: 85px;

.admin-add-category-card__button {
  position: relative;
  width: $button-diameter;
  height: $button-diameter;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  &:hover {
    border: 3px solid $green-color;
    &::before,
    &::after {
      background: $green-color;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 57%;
    height: 7px;
    left: 50%;
    top: 50%;
    background: $remove-button-color;
  }
  &::before {
    transform: translate(-50%, -50%);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.admin__category-card-add {
  padding-top: $category-card-padding-top;
}
