$nav-height: 97px;

.admin__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $nav-height;
  background: $admin-nav-color;
}

.admin-nav__list {
  display: flex;
  flex-grow: 1;
  max-width: $admin-guidelines-width;
  list-style: none;
  padding: 0;
}

.admin-nav__item:nth-child(2n + 2) {
  margin-left: min(10%, 155px);
  margin-right: 5px;
}

.admin-nav__item:last-child {
  margin-left: auto;
}

.admin-nav__link {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.6rem;
  text-decoration: none;
  color: #fff;
  &:hover {
    opacity: 0.5;
  }
}
